body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display:grid;
}

.header ul {
    grid-template-columns: 20% repeat(7, auto) 20%;
    display:grid;
    height: 50px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(245, 245, 246, 1);
    column-gap: 20px;
    font-size: 11px;
    font-weight: 500;
    line-height: 12.89px;
    letter-spacing: 0.06em;
    color: rgba(149, 155, 164, 1);
    list-style-type: none; 
}

.title {
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    letter-spacing: 0.06em;
    color: rgba(131, 60, 222, 1)
}

.bank:hover, .business:hover, .investments:hover, .insurance:hover, .mobile:hover, .travels:hover, .entertainment:hover {
    color: black;
    text-decoration: underline;
}

.entrance {
    background-color: white;
    width: 58px;
    height: 33px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrance:hover {
    color: rgba(149, 155, 164, 1);
}

.subheader {
    width: 587px;
    height: 32px;
    top: 106px;
    padding-left: 253px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;
    color: #000000;
}

.calculator {
    display: flex;

}
.ihave {
    padding-left: 253px;
}

h2, h3 {
    width: 120px;
    height: 28px;
    top: 171px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #9F9F9F;
}

.reverse {
    position:relative;
    width: 36.85px;
    height: 31.77px;
    top: 147px;
    padding-left: 44px;
    border: 2px #000000;    
}

.wanthave {
   padding-left: 42px;
}

.calculator ul{
    display:inline-flex;
    align-items: center;
    justify-items: center;
    width: 259px;
    height: 30px;
    top: 200px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
    color:#C6C6C6;
    
}

.calculator ul:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calculator ul li {
    width: 50px;
    height: 28px;
    border: solid 2px #9F9F9F;
    text-align: center;
    color:#C6C6C6;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: center;

    }
    
.calculator ul li:hover {
    background: #833AE0;
    text-decoration-color: #fff;
}
  
.calculator ul li ul {
    display:none;
    width: 50px;
    background: #fff;
}

.calculator ul li:hover > ul {
    display: initial;
    height: 325px;
    overflow-y: auto;
}

.submenu:hover {
    display: initial;
}

.input, .output {
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
}

input {
    display: flex;
    position:absolute;
    padding-top: 14px;
    padding-left: 11px; 
    width: 124px;
    height: 38px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;
    border: 0px;   
}

.exchangecourse {
    font-family: 'Roboto', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14.06px;
text-align: left;

}