*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 }

.container {
    max-width: 975px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    background-color: #F5F5F6;
  }


.header_content {
    width: 975px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.header_navigation li {
    list-style: none;
    margin-right: 20px;
    display:inline;
    font-size: 11px;
    font-weight: 500;
    line-height: 12.89px;
    letter-spacing: 0.06em;
    text-align: left;
  
}

.header_navigation li a {
    text-decoration: none;
    color: #959BA4;
}

.header_navigation li a:hover {
    color: black;
}

.enter_button {
    width: 58px;
    height: 33px;
    background-color: white;
    border-color: #959BA4;
    align-content: center;
    padding: 12px;
   

}
.calculator, .subheader {
    display: flex;
    padding-right: 165px;
    padding-left: 165px;
    align-items: center;
}

h2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #9F9F9F;


}
.calculator .column li {
    display: inline;
    list-style: none;
    margin-left: -.35em;
   
   

   
}

.calculator .column button, select {
    width: 53px;
    height: 28px;
    color: #C6C6C6;
    font-size: 12px;
    background-color: white;
    border:1px solid #E5E5E5;
}

button, select:hover {
    background-color: #833AE0;
    color: white;
}

.calculator ul {
    padding-left: 6px;
    border-radius: 3px 0px 0px 3px;

}

.column ul {
    width: 259px;
    height: 30px;
    vertical-align: middle;
}

.column li button {
    vertical-align: middle;
}
.column .input {
    display: flex;
    flex-direction: column;
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

.column .input .quantity, .result {
    width: 124px;
    height: 32px;
    margin-top: 11px;
   margin-left: 14px;
   border: white;
}

.column .input .exchange_course {
    font-size: 12px;
    text-align: left;
    color: #C6C6C6;
    width: 119px;
    height: 28px;
    margin-top: 49px;
   margin-left: 14px;
   border: white;
}

.reverse button {
    border: 0px;
    background-color: white;
    padding: 42px;
}